#html {
    background: #222;
}

#header {
    text-align: center;
    color: #b63d51;
}

#song_div {
    background-color: #ceccbe;
    width: 960px;
    height: 250px;
    margin: 32px;

}

a:link {
    color: red;
    text-decoration: none;
}

#song_name {
    display: inline-block;
}

h2 {
    color: #ff2523;
}

#item_div {
    border: 2px solid red;
    border-radius: 5px;
}

#song_title {
    padding: .5em;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    color: #ff2523;
    text-align: center;
}

button:before {
    color: #ff0;
}
