#html {
    background: #222;
}

#header {
    text-align: left;
    color: #ff4a00;
    background: #333333;
    margin-top: -30px;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    font-family: fantasy;

}

#tagline {
    font-family: cursive;
    color: #ffffff;
    margin-top: -20px;
    margin-left: 100px;
}

#footer {
    text-align: center;
    color: #ceccbe;
    background: #333333;
    padding: 1em;
}

.genre {
    background: #333333;
    border-radius: 10px;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 100px;
    margin-bottom: 100px;
}

#song_div {
    background-color: #ceccbe;
    width: 960px;
    height: 250px;
    margin: 32px;

}

a:link {
    text-decoration: none;
    text-anchor: none;
    color: #ffffff;
}

a:focus {
    color: #ffffff;
    outline: 0;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    text-anchor: none;
}

#song_name {
    display: inline-block;
}

h2 {
    color: #ff4a00;
    padding-left: .5em;
}

#item_div {
    border-radius: 5px;
    width: 250px;
}

#song_title {
    padding: .5em;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
}

p {
    color: white;
    font-size: 22px;
    font-family: monospace;
}

#moreButton {
    text-align: end;
    color: #ff4a00;
    padding-right: 1em;

}

#moreButton:hover {
    cursor: pointer;
    cursor: hand;
    text-shadow: 1px 1px 2px #ff5c00;
}