#splashscreen {
    width: 100%;
    height: 110%;
    color: #ff4a00;
    text-align: center;
    margin-top: 20%;
    font-family: fantasy;
}

#html {
    background: #111111;
}

html, body {
    overflow: hidden
}

body {
    width: 100%;
    height: auto;
}

#left_side {
    width: 210px;
    height: 82%;
    background: #222222;
    margin-top: -23px;
    color: #333333;
    box-shadow: 2px 2px;
    overflow: hidden;
    position: absolute;
}

#content {
    height: 80%;
    width: 100%;
    margin-top: -25px;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#child {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-right: 15px;
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

#header {
    text-align: left;
    color: #333333;
    background: #222222;
    margin-top: -30px;
    box-shadow: 0px 2px;
    padding-left: 2em;
    font-family: fantasy;

}

td {
    border-bottom: none;
}

#tagline {
    font-family: cursive;
    color: #ffffff;
    margin-top: -20px;
    margin-left: 100px;
}

#footer {
    text-align: center;
    color: #ceccbe;
    padding: 1em;
}

th {
    border-bottom: 0px solid #36383d;

}

.genre {
    border-radius: 10px;
    padding-left: .5em;
    padding-right: .5em;
    border-bottom: 1px solid #36383d;
    margin-top: 20px;
    margin-bottom: 50px;
}

#song_div {
    background-color: #ceccbe;
    width: 960px;
    height: 250px;
    margin: 32px;

}

a:link {
    text-decoration: none;
    text-anchor: none;
    color: #ff4a00;
}

a:focus {
    color: #ffffff;
    outline: 0;
}

a:hover {
    color: #4cae4c;
    text-decoration: none;
    text-anchor: none;
}

h2 {
    color: #999999;
    padding-left: .5em;
}

#item_div {
    border-radius: 5px;
    width: 250px;
}

#song_title {
    padding: .5em;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    color: #ffffff;
    font-size: smaller;
    text-transform: capitalize;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: white;
    font-size: 22px;
    font-family: monospace;
}

#moreButton {
    text-align: end;
    color: #ff4a00;
    padding-right: 1em;

}

#moreButton:hover {
    cursor: pointer;
    cursor: hand;
    text-shadow: 1px 1px 2px #ff5c00;
}

.side_btn {
    color: #ffffff;
    text-align: center;
    padding: 16px;
    background-color: #222222;
}

.side_btn:hover {
    color: #ffffff;
    background-color: #333333;
    cursor: hand;
    border-left: 3px solid #ff5c00;

}

#search {
    height: 60px;
    border-radius: 25px;
    background: #36383d;
    /* height: 55%; */
    width: 100%;
    max-width: 850px;
    padding: 0 2% 0 11%;
    font-size: 100%;
    color: rgba(255, 255, 255, .8);
    letter-spacing: .7px;
    position: relative;
    top: 50%;
    margin-top: 3em;
    font-family: Arial;
    transform: translate(0, -25%);
    -webkit-transform: translate(0, -25%);
    -moz-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #777777;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #777777;
}