<html>
{% load staticfiles %}
<head>
    <title>Let's play</title>
    <link href="{% static 'css/app.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/skeleton.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/jquery.dynatable.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/jquery.dynatable.js' %}"></script>
</head>
<body>
<h1 id="header">Let's play it.</h1>

<!-- .container is main centered wrapper -->
<div class="container">
    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="one-fourth column">
            <ul>
                {% for genre in genres %}
                    <div class="genre">
                        <h2>{{ genre.name }}</h2>
                        {% for song in genre.song_set.all %}
                            <li><a href="/song/{{ song.id }}">{{ song.name }}</a><br/></li>
                        {% endfor %}
                    </div>
                {% endfor %}
            </ul>
        </div>


        <div class="pagination one-fourth column">
    <span class="step-links one-fourth column">
        {% if genres.has_previous %}
            <a href="?page={{ genres.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ genres.number }} of {{ genres.paginator.num_pages }}.
        </span>

        {% if genres.has_next %}
            <a href="?page={{ genres.next_page_number }}">next</a>
        {% endif %}
    </span>
        </div>
    </div>
</div>


</body>
</html>