<html id="html">
{% load staticfiles %}
<head>
    <title>Let's play</title>
    <link href="{% static 'slick/slick.css' %}" rel="stylesheet"/>
    <link href="{% static 'slick/slick-theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/skeleton.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/app.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/jquery.dynatable.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/jquery.dynatable.js' %}"></script>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 50%;
            margin-bottom: 100px;
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: #ffffff;
        }
    </style>
</head>
<body>
<h1 id="header">Let's play it.</h1>


<!-- .container is main centered wrapper -->
<div class="container">
    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="twelve column">
            <ul>
                {% for genre in genres %}
                    <div class="genre">
                        <table style="width:100%">
                            <tr>
                                <th><h2>{{ genre.name }}</h2></th>
                                <th style="text-align: end;color: #ff4a00;padding-right: 1em;">More</th>
                            </tr>
                        </table>
                        <section class="center slider" style="height: 250px; width: 960px;">
                            {% if genre.song_set.all.count == 0 %}
                                <h4 style="text-align: center;color: #ffffff;">No data available!</h4>
                            {% endif %}
                            {% for song in genre.song_set.all %}
                                {% if forloop.counter <= 10 %}
                                    <a href="/song/{{ song.id }}">
                                        <div id="item_div">
                                            <img src="{% static ''|add:song.songdetails.first.thumbnail %}" width="150"
                                                 height="150"/>
                                            <div id="song_title">{{ song.name | truncatechars:80 }}</div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </div>
                {% endfor %}
            </ul>
        </div>


        <div class="pagination one-fourth column">
    <span class="step-links one-fourth column">
        {% if genres.has_previous %}
            <a href="?page={{ genres.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ genres.number }} of {{ genres.paginator.num_pages }}.
        </span>

        {% if genres.has_next %}
            <a href="?page={{ genres.next_page_number }}">next</a>
        {% endif %}
    </span>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="{% static 'slick/slick.js' %}"></script>
<script type="text/javascript">
    $(document).on('ready', function () {
        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".variable").slick({
            dots: true,
            infinite: true,
            variableWidth: true
        });
    });
</script>

</body>
</html>